* {
    line-height: 1.5;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:bisque;
}
img {
    width: 400px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
  
ul {
    list-style:none;
}
h1 {
    color:black;
    margin-top: 0;
}
p {
    margin-bottom: 20px;
}

.content {
    padding: 20px;
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.list {
    padding: 35px;
    box-shadow: 2px 2px 6px orange;
    display: inline-block;
    border: 100px;
    height: auto;
    width: 100px;
    margin: 5px;
    font: bold;
    font-size: 15px;
    background-color: olivedrab;
    
}
span.highlight {
    background-color: goldenrod;
    color: blue;
    padding: 0 3px;
    margin: 0 -3px;
}

.close {
    margin-top: 20px;
    border: 15px;
    padding: 10px;
    color: darkblue;
    text-align: center;
}
/* 
external css, add to index.html by <link rel="stylesheet" href="style.css"> 
 */